<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".ReaderCardActivity"
            android:exported="true" />
        <activity
            android:name=".CustomerDetailFragment"
            android:exported="false" />
    </application>

</manifest>